{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='plugins/raffle/css/raffle.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Drawing - {{ item.name }}{% endblock %}

{#{% block breadcrumbs %}#}
{#    <li class="breadcrumb-item"><a href="{{ url_for('web_items.items_get') }}">Home</a></li>#}
{#    <li class="breadcrumb-item"><a href="javascript:void(0);">Items</a></li>#}
{#{% endblock %}#}

{% block body %}
    <div class="col-lg-6 offset-lg-3">
        <div class="row">


        <div id="drawing" class="drumHolder fitImg">
            <img src="{{ url_for('static', filename='plugins/raffle/assets/stand.svg') }}"/>

            <!-- RAFFLE HOLDER-->
            <div class="raffleHolder">
                <img src="{{ url_for('static', filename='plugins/raffle/assets/glass.svg') }}"/>

                <!-- TICKET RESULT-->
                <div class="ticketResult"></div>

                <div class="drumMask">
                	<!-- DRUM ITEMS-->
                    <div class="itemsWrapper"></div>

                    <!-- DRUM TOP-->
                    <div class="drumGlassHolder">
                        <img src="{{ url_for('static', filename='plugins/raffle/assets/glass.svg') }}"/>
                    </div>

                    <!-- DRUM SIDE-->
                    <div class="drumSideHolder">
                        <img src="{{ url_for('static', filename='plugins/raffle/assets/side.svg') }}"/>
                        <img src="{{ url_for('static', filename='plugins/raffle/assets/side.svg') }}"/>
                        <img src="{{ url_for('static', filename='plugins/raffle/assets/side.svg') }}"/>
                        <img src="{{ url_for('static', filename='plugins/raffle/assets/side.svg') }}"/>
                    </div>
                </div>
            </div>

            <button onclick="spin()" class="btn-primary btn-lg mt-3">Draw A Ticket</button>
        </div>




    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalWinner" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">And The Winner Is</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 id="winnerName"></h4>
            <h6 id="winnerInfo"></h6>
            <h6 id="winnerStats"></h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='plugins/raffle/js/raffle.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
             $('#drawing').raffleDrumAnimation(
                {
                    itemImage:["{{ url_for('static', filename='images/raffle-logo.png') }}"],
                    itemRow:7,
                    itemColumn:5,
                  callback: raffleCallback
                }
            );

             $("#modalWinner").on('hide.bs.modal', function(){
              window.location = `{{ url_for('web_admin_items.items_get') }}`;
            });
        });

        function spin() {
          $('#drawing').raffleDrumAnimation('toggleSpin');
          setTimeout(() => {
            $.post(`{{ url_for('web_admin_drawings.drawing_post_ajax', id=item.id)}}`)
            .done(data => {
              $('#winnerName').html(`Congratulations ${data.winning_user.first_name} ${data.winning_user.last_name}!`);
              $('#winnerInfo').html(`You just won a ${data.item.name} with lucky ticket number ${100000 + data.winning_ticket.id}`);
              $('#winnerStats').html(`Your odds of winning were ${data.stats.tickets_purchased} in ${data.stats.total_tickets}`);
            })
            .fail(error => {
              alert("Error drawing ticket. Please try again later.");
            })
            .always(() => {
              $('#drawing').raffleDrumAnimation('result');
            })

          }, 3000)
        }

        function raffleCallback(data){
            switch(data.status) {
              case 'spinstart':
                //when drum start raffle
                break;
              case 'spinstop':
                //when drum stop raffle
                break;
              case 'result':
                break;
              case 'resultcomplete':
                //when drum show result complete
                $("#modalWinner").modal();
                break;

              default:

            }
        }
    </script>
{%  endblock %}