{% extends "layout.html" %}

{% block css %}
    <!-- Filepond stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
{% endblock %}

{% block title %}{{ item.name }}{% endblock %}


{#{% block breadcrumbs %}#}
{#    <li class="breadcrumb-item"><a href="{{ url_for('web_items.items_get') }}">Home</a></li>#}
{#    <li class="breadcrumb-item"><a href="{{ url_for('web_admin_items.items_get') }}">Items</a></li>#}
{#    <li class="breadcrumb-item"><a href="javascript:void(0);">{{ item.name }}</a></li>#}
{#{% endblock %}#}

{% block body %}
    <form method="post">
        <div class="row">
            <aside class="col-md-3">
                <div class="card mb-2">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Admin</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">
                                <ul class="list-menu">
                                    <li><a href="{{ url_for('web_admin_items.item_new') }}">New Item</a></li>
                                    <li><a href="{{ url_for('web_admin_items.items_get') }}">Manage Items</a></li>
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->

            <main class="col-md-9">

                <!-- Item Details Card -->
                <div class="card">
                    <div class="card-header">
                        <h4>Item Details</h4>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" value="{{ item.name if item.name }}" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <!-- Available -->
                                <div class="form-group">
                                    <label>Available</label>
                                    <select class="form-control" name="available">
                                        <option value="True" {% if item.available == true %} selected="selected"{% endif %}>Yes</option>
                                        <option value="False" {% if item.available == false %} selected="selected"{% endif %}>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control" rows="4">{{ item.description if item.description }}</textarea>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Price</label>
                                    <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </span>
                                        <input style="text-align: right" type="text" name="price"
                                               value="{{ item.price if item.price }}" class="form-control currency"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                                <!-- Category -->
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" name="category">
                                        {% for category in categories %}
                                            <option value="{{ category }}" {% if item.category==category %}
                                                    selected="selected"{% endif %}>{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">

                        </div>
                    </div>

                    <!-- File Upload card -->
                    <div class="card">
                        <div class="card-header">
                            <h4>Images</h4>
                        </div>
                        <div class="card-body">
                            <input type="file" class="filepond">
                            <div style="margin-top: 20px;" id="image-container">
                                <div class="card-columns">
                                    {% for image in item.images %}
                                        <div class="card bg-dark text-white">
                                          <img class="card-img" src="{{ base_url }}/{{ image.path }}" alt="Card image">
                                          <div class="card-img-overlay">
                                            <a href="{{ url_for('web_admin_items.item_image_delete', id=item.id, image_id=image.id) }}" class="float-right black" style="margin-top: -15px; margin-right: -10px; font-size: 1.5em"><span class="fas fa-window-close"></span></a>
                                          </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </main> <!-- col.// -->

        </div>
    </form>
{% endblock %}

{% block javascript %}
    <!-- Load FilePond library -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <!-- include FilePond jQuery adapter -->
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

    <script>
        let itemId = {{ item.id }}

      $(document).ready(() => {
        // Setup FilePond inputs
        $.fn.filepond.registerPlugin(FilePondPluginImagePreview);

        // Turn input element into a pond
        $('.filepond').filepond();

        // Set FilePond properties
        $('.filepond').filepond('allowMultiple', true);
        $('.filepond').filepond('instantUpload', true);
        $('.filepond').filepond('server', {
          url: "{{ url_for('web_admin_items.item_image_upload', id=item.id) }}",
          process: {
            onload: (res) => {
              // Select the response field to use as a unique ID
              let image = JSON.parse(res).image;
              displayUploadedImage(image);
              return image.id;
            }
          }
        });

        // Listen for processfile event
        $('.filepond').on('FilePond:processfile', function (e) {
          console.log('file added event', e);
          setTimeout(() => {
            e.originalEvent.detail.pond.removeFile();
          }, 2000);
        });
      });

      function displayUploadedImage(image) {
        // Renders the newly uploaded image
        console.log(image.id);
        $('#image-container').append(`
            <div class="card bg-dark text-white">
              <img class="card-img" src="${window.location.origin}/${image.path}" alt="Card image">
              <div class="card-img-overlay">
                <a href="${window.location.origin}/admin/items/${itemId}/image/${image.id}" class="float-right black" style="margin-top: -15px; margin-right: -10px; font-size: 1.5em"><span class="fas fa-window-close"></span></a>
              </div>
            </div>`);
      }

    </script>
{% endblock %}