<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Raffle Monkey</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% for item in rows %}
<p>Item Number: {{item[0]}}</p>
<p>Item Name: {{item[1]}}</p>
<p>Item Description: {{item[2]}}</p>
<p>Item Price: {{item[3]}}</p>
<p>Enabled: {{item[4]}}</p>
<p>Submitter: {{item[5]}}</p>
<p>Last Update: {{item[6]}}</p>
{% endfor %}
</body>

</html>