<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Raffle Monkey - Users</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form action="/manage/users" method="POST">
    <label for="first_name">First Name:</label><br>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Last Name:</label><br>
    <input type="text" id="last_name" name="last_name"><br><br>
    <label for="email_address">Email:</label><br>
    <input type="text" id="email_address" name="email_address"><br><br>
    <label for="phone_num">Phone:</label><br>
    <input type="text" id="phone_num" name="phone_num"><br><br>
    <label for="active">Status:</label><br>
    <input type="text" id="action" name="active"><br><br>
    <label for="comments">Comments:</label><br>
    <input type="text" id="comments" name="comments"><br><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <label for="pass_salt">Salt:</label><br>
    <input type="text" id="pass_salt" name="pass_salt"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>