<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Raffle Monkey</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <form action="/manage/items.html">
    <label for="item_name">Item Name:</label><br>
    <input type="text" id="item_name" name="item_name"><br>
    <label for="item_desc">Item Description:</label><br>
    <input type="text" id="item_desc" name="item_desc"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>